.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
}

.App-logos {
  display: flex;
  flex-direction: row;
}

.App-header {
  background-color: #162346;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #D110B8;
}

.App-link:hover {
  color: #69BE5A;
}
